@font-face {
    font-family: 'quite_chocolateyregular';
    src: url('../fonts/quite_chocolatey-webfont.woff2') format('woff2'),
         url('../fonts/quite_chocolatey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/ofont.ru_montserrat-1-webfont.woff2') format('woff2'),
         url('../fonts/ofont.ru_montserrat-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/ofont.ru_montserrat-webfont.woff2') format('woff2'),
         url('../fonts/ofont.ru_montserrat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifregular';
    src: url('../fonts/pt_serif-web-regular-webfont.woff2') format('woff2'),
         url('../fonts/pt_serif-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'couturebold';
    src: url('../fonts/couture-bold-webfont.woff2') format('woff2'),
         url('../fonts/couture-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}