@import 'fonts.css';

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'pt_serifregular';
}


/* ====== HEADER ====== */

.header {
    width: 100%;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
}

.header-content {
    max-width: 1000px;
    margin: 0px auto;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'montserratregular';
}

.menu-logo {
    margin-top: 10px;
}

.menu-logo-text {
    font-family: 'quite_chocolateyregular';
    font-size: 50pt;
    color: #fff;
}

.menu-list {
    margin-top: 40px;
}

.menu-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-li {
    list-style: none;
    margin: 5px;
    padding: 8px 12px;
}

.menu-li:hover {
    background-color: #000;
    border-radius: 5px;
}

.menu-a {
    text-decoration: none;
    color: #fff;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 120px 0px 0px;
}

.main-title {
    width: 500px;
    margin-left: 15px;
}

.title-h1 {
    font-family: 'montserratbold';
    font-size: 50pt;
    text-transform: uppercase;
}

.title-p {
    margin-top: 30px;
    font-size: 14pt;
    color: #fff;
}

.main-form {
    width: 320px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
    padding: 20px;
    margin-bottom: -70px;
    margin-right: 15px;
}

.form-h2 {
    font-family: 'montserratregular';
    font-size: 15pt;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
}

.form-f {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.f-inp {
    font-family: 'pt_serifregular';
    font-size: 14pt;
    margin: 5px 0px;
    padding: 10px 15px;
    background-color: #eeeeee;
    border: none;
    border-radius: 5px;
    color: #b5b5b5;
}

.cbx {
    margin: 10px 0px;
}

.f-sbm {
    font-family: 'montserratregular';
    font-size: 15pt;
    font-weight: 800;
    background-color: #c62314;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}



/* ====== SERVICES ====== */

.services {
    max-width: 1000px;
    margin: 0px auto;
    padding: 15px;
}

.services-title {
    margin: 15px;
}

.services-h2 {
    font-family: 'couturebold';
    font-size: 35pt;
    text-transform: uppercase;
}

.services-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px 0px;
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.services-img {
    max-width: 150px;
    height: 140px;
    margin-bottom: 30px;
}

.services-text {
    width: 150px;
}



/* ====== OUR STORY ====== */

.story {
    background-color: #130e27;
}

.story-content {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.story-text {
    font-size: 14pt;
    max-width: 600px;
    color: #fff;
    padding: 35px;
}

.story-button {
    font-family: 'montserratregular';
    font-size: 14pt;
    text-transform: uppercase;
    padding: 17px 45px;
    background-color: #c62314;
    color: #fff;
    border: none;
    border-radius: 5px;
}



/* ====== PRICING ====== */

.pricing {
    background-color: #efefef;
}

.pricing-content {
    max-width: 1000px;
    margin: 0 auto;
}

.pricing-h2 {
    font-family: 'montserratbold';
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0px;
}

.pricing-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pricing-choice-item {
    width: 300px;
    background-color: #fff;
    padding: 40px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-item-h3 {
    text-align: center;
}

.choice-item-money {
    font-family: 'montserratbold';
    font-size: 40pt;
    text-align: center;
    text-transform: uppercase;
    color: #c62314;
    margin: 20px 0px;
}

.choice-item-modules {
    text-align: center;
}

.choice-item-join {
    width: 210px;
    font-family: 'montserratregular';
    font-size: 14pt;
    background-color: #130e27;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 65px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
}

.choice-item-join:hover {
    background-color: #c62314;
}



/* ====== TESTANDGALLERY ====== */

.testandgall {
    max-width: 1000px;
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonial {
    width: 35%;
    margin-left: 50px;
}

.testimonial-h2 {
    font-family: 'montserratbold';
    font-size: 35pt;
    text-align: center;
    text-transform: uppercase;
}

.testim-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0px;
    padding: 10px 15px;
    margin-left: -50px;
}

.testim-item:hover {
    background-color: #efefef;
}

.testim-item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testim-item-left-text {
    font-size: 12pt;
    margin: 10px 0px;
}

.testim-item-left-author {
    font-size: 12pt;
    font-weight: bold;
}

.testim-item-right {
    margin-right: -75px;
}

.testim-item-right-img {
    max-width: 120px;
}

.gallery {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-h2 {
    font-family: 'montserratbold';
    font-size: 35pt;
    text-align: center;
    text-transform: uppercase;
    color: #c62314;
}

.gallery-pic {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-pic-img {
    max-width: 120px;
}

.gallery-more {
    color: #130e27;
    text-transform: uppercase;
    font-size: 14pt;
}



/* ====== FOOTER ======*/

.footer {
    background-color: #130e27;
    color: #fff;
    padding: 30px 0px;
}

.footer-content {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-left a {
    text-decoration: none;
    color: #c62314;
}

.footer-right {
    font-family: 'quite_chocolateyregular';
    font-size: 50pt;
    color: #c62314;
}



/* ====== SPAN ====== */

.textwhite {
    color: #fff;
}

.textred {
    color: #c62314;
}